<div class="centered-div">
  <!-- *********************  Large Name & Logo  ********************* -->
  <%= render 'users/large_logo_and_title', {title: 'Sign In'} %>

  <!-- *********************  Error Messages  ********************* -->
  <%if !!flash[:alert]%>
    <div class="error-text wrapper clearfix">
      <%=flash[:alert]%>
    </div> <!-- flash -->
  <%end%>

  <!-- *********************  Login and Signup Buttons  ********************* -->
  <div class="details">
    <%= form_tag('/sessions', method: 'post') do %>
      <div class="welcome-forms">
        <%= label_tag "Email" %>
        <%= text_field_tag 'email' %>
      </div>

      <div class="welcome-forms">
        <%= label_tag "Password" %>
        <%= password_field_tag 'password'%>
      </div>

      <div class="welcome-forms">
        <%= submit_tag 'Sign In' %>
      </div>

    <% end %>

  </div> <!--  .details  -->
</div> <!--  .centered  -->


