<div class="centered-div">
  <!-- *********************  Large Name & Logo  ********************* -->
  <%= render 'users/large_logo_and_title', {title: 'Sign Up'} %>

  <!-- *********************  Error Messages  ********************* -->
  <%= render 'users/errors', {object: @user} %>

  <!-- *********************  Login and Signup Buttons  ********************* -->
  <div class="details">
    <%= form_for @user do |f| %>
      <!-- Name -->
      <div class="welcome-forms">
        <%= f.label 'Name' %><br>
        <%= f.text_field :name%>
      </div>

      <!-- Email -->
      <div class="welcome-forms">
        <%= f.label 'Email' %><br>
        <%= f.text_field :email%>
      </div>

      <!-- Password -->
      <div class="welcome-forms">
        <%= f.label 'Password' %><br>
        <%= f.password_field :password%>
      </div>
      
      <!-- Submit -->
      <div class="welcome-forms">
        <%= f.submit "Sign Up", class: "button"%>
      </div>
    <% end %>
  </div> <!--  .details  -->
</div> <!--  .centered  -->








