<!-- *********************  Error Messages  ********************* -->
<%if !!flash[:alert]%>
  <div class="error-text wrapper centered clearfix">
    <%=flash[:alert]%>
  </div> <!-- flash -->
<%end%>

<h1>My Books</h1>
<%=link_to 'Create a Shelf', new_shelf_path, class: "button"%>

<% @user.shelves.each do |shelf| %>
  <h4 class = "centered"><%=link_to "My #{shelf.name} Books", user_shelf_path(@user,shelf)%></h4>
  <%= render 'books/book_grid', {books: shelf.books} %>
<%end%>

<h4 class = "centered">My Other Books</h4>
<%= render 'books/book_grid', {books: @user.books.unsorted} %>


