<!-- *********************  Error Messages  ********************* -->
<%if !!flash[:alert]%>
  <div class="error-text wrapper centered clearfix">
    <%=flash[:alert]%>
  </div> <!-- flash -->
<%end%>

<h1><%=@user.firstname%>'s Books</h1>
<%=link_to 'Create a Shelf', new_shelf_path, class: "button"%>

<%= render 'books/book_grid', {books: @user.books.unsorted} %>

<% @user.shelves.each do |shelf| %>
  <h4 class = "centered"><%=link_to "#{shelf.name}", user_shelf_path(@user,shelf)%></h4>
  <%= render 'books/book_grid', {books: shelf.books} %>
<%end%>

