  <span class="fa fa-star <%=(rating > 0) ? 'checked' : 'unchecked' %>"></span>
  <span class="fa fa-star <%=(rating > 1) ? 'checked' : 'unchecked' %>"></span>
  <span class="fa fa-star <%=(rating > 2) ? 'checked' : 'unchecked' %>"></span>
  <span class="fa fa-star <%= (rating > 3) ? 'checked' : 'unchecked' %>"></span>
  <span class="fa fa-star <%= (rating > 4) ? 'checked' : 'unchecked' %>"></span>
