<div class='sub-section'>
  <h1>All Books</h1>

  <div class='buttons' >
  <%= form_tag('/books', method: 'get') do %>
    <%= hidden_field_tag 'filter[order_by_author]' %>
    <%= submit_tag "Order by Author", class: "button" %>
  <% end %>

  <%= form_tag('/books', method: 'get') do %>
    <%= hidden_field_tag 'filter[order_by_title]' %>
    <%= submit_tag "Order by Title", class: "button" %>
  <% end %>
  </div>
</div>
<%= render 'book_grid', {books: @books} %>