
<h1>Results for '<%=params[:search]%>' </h1>

<div class="grid">
  <% @books.each do |book| %>
    <div class="grid-item" >
      <%= link_to image_tag(book.cover_image), search_show_path(book.identifier) %>
      <p class='title-label'><%= link_to book.title, search_show_path(book.identifier) %></p>
      <p class='author-label'><%= book.author.name %></p>
      <%= render 'form', {book: book} %>
    </div> <!-- grid-item -->
  <% end %>
</div> <!-- grid -->
