<!-- *********************  Book Overview - title, image, author, genre, pages, description  ********************* -->
<%= render 'books/details', {book: @book, search: false} %>

<!-- *********************  My Activity (if current user && have book in collection)  ********************* -->
<% if current_user_has_book?(@book) %>
  <!-- ****** Read Status ****** -->
  <%= render 'books/form_activity', {book: @book, userbook: @userbook} %>

  <!-- ****** Book's shelves  ****** -->
  <h2>My Shelves</h2>
  <%= render 'books/form_shelves', {book: @book, userbook: @userbook} %>
<% end %>

<!-- *********************  Reviews  ********************* -->

<!-- ****** Show current user's book review if exists, with edit and delete buttons  ****** -->
<% if current_user_has_book?(@book) && current_users_book_review(@book) %>
  <div class="sub-section-header">
    <h2>My Review</h2>
    <!-- Edit and delete buttons -->
    <%= render 'books/edit_and_delete_buttons', {edit: edit_book_review_path(@book, current_users_book_review(@book)), delete: book_review_path(@book,current_users_book_review(@book))} %>
  </div>
  <%= render 'reviews/details', {review: current_users_book_review(@book)} %>
<% end %>

<!-- ****** Show all reviews  ****** -->
<h2>Reviews</h2>
<!-- Button for user to add review if they haven't -->
<% if current_user_has_book?(@book) && !current_users_book_review(@book) %>
  <%= link_to "Add a Review", new_book_review_path(@book), class:"button"%>
<% end %>

<!-- List reviews -->
<%@book.reviews.each do |review| %>
  <%= render 'reviews/details', {review: review} %>
<%end%>

<!-- Message if user doesn't have any reviews -->
<% if @book.reviews.empty? %>
  <p>There are no reviews for this book yet.</p>
<% end %>