<!-- *********************  Book Overview - title, image, author, genre, pages, description  ********************* -->
<h1><%=@book.title%></h1>

<div class="book-overview">
  <!-- Book Cover Image -->
  <%= image_tag @book.cover_image %>

  <!-- Book Data: Author, Genre, and Pages -->
  <div class="book-info" >
    <div class="book-fact"> <h3>Author</h3><%= @book.author.name %> </div>
    <div class="book-fact"> <h3>Genre</h3><%= @book.genre.name %> </div>
    <div class="book-fact"> <h3>Pages</h3><%= @book.pages %> </div>
    <div class="book-fact"> <%= add_or_remove_button(@book) %> </div>
  </div> <!-- .book-info -->
  
  <!-- Book Description -->
  <div class="book-description">
    <%= strip_tags(@book.description) %>
  </div> <!-- .book-description -->

</div> <!-- .book-overview -->

<!-- *********************  My Activity (if current user && have book in collection)  ********************* -->

<!-- Mark as Read -->
<h2>My Reading Activity</h2>
<div class="book-info">
  <%=form_for @userbook, url: book_user_book_path(@book.id, @userbook.id) do |f| %>
    <%= f.hidden_field 'finished_book', value: 0 %>
    <div class="book-fact">
      <%= f.check_box :finished_book %>
      <%= f.label "Finished reading", class: "checks" %>
    </div>
    <h3><%= f.label :finish_date %></h3>
    <div class="book-fact">
      <%= f.date_select :finish_date, include_blank: true %>
    </div>
    <%= f.submit 'Update Activity', class: "button" %>
  <% end %>
</div>

<!-- Update Shelves -->

<h2>My Shelves</h2>
<div class="book-info">
  <%= form_for @book do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <div class="book-fact checkbox-list checks">
      <%= f.collection_check_boxes :shelf_names, current_user.shelves.all, :name, :name %>
    </div>

    <%= f.fields_for :shelves, @book.shelves.build do |shelf_fields| %>
      <h3>Add a New Shelf </h3>
      <div class="book-fact">
        <%= shelf_fields.text_field :name %>
      </div>

      <%= shelf_fields.hidden_field :user_id, value: current_user.id %>
    <% end %>

    <%= f.submit "Update Shelves", class: 'button' %>
  <% end %>
</div>



<!-- *********************  Reviews  ********************* -->


<h2>Reviews</h2>
<% if current_user_book(@book) %>
  <% if current_user_has_reviewed?(@book) %>
    <div class="buttons">
      <%= link_to "Edit your Review", edit_book_review_path(@book, current_users_book_review(@book)), class:"button"%>
      <%= form_tag(book_review_path(@book, current_users_book_review(@book)), method: 'delete') do %>
        <%= submit_tag "Delete Review", class: "button" %>
      <% end %>
    </div>
  <% else %>
    <%= link_to "Add a Review", new_book_review_path(@book), class:"button"%>
  <% end %>
<% end %>

<%@book.reviews.each do |review| %>
  <sh1><%=review.title%></sh1>
  <sh2><%=review.rating%> stars </sh2>
  <p><%= review.review %> </p>
<%end%>

<% if @book.reviews.empty? %>
  <p>There are no reviews for this book yet.</p>
<% end %>