<!DOCTYPE html>
<html>
  <head>
    <title>Bookshelf</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <title>homeUp</title>
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.0/normalize.min.css">
    <link rel="stylesheet" href="/stylesheets/main.css" />
    <script src="http://cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
  </head>

  <body>
    <!-- *********************  Header  ********************* -->
    <header class="clearfix">
      <div class="clearfix">
        <div id="header-background" class="header-background">
        </div> <!-- #header-background -->
        <div class="wrapper">
          <div id="logo">
            <%= show_svg('books.svg')%>
            <!--<%= image_tag 'books.png', alt: "books" %>-->
          </div> <!-- #logo -->
        </div> <!-- .wrapper -->

        <div id="navbar">
          <div class="wrapper">
            <nav class="clearfix">
              <%= link_to "#{first_name}'s Books", user_path(current_user) %>
              <%= link_to "Browse", books_path %>
            </nav>
          </div> <!-- .wrapper -->
        </div> <!-- #navbar -->

        <div id="user">
          <div class="wrapper">
            <%=current_user.name%></br>
            <%=link_to 'Logout', logout_path, class: 'link'%>
          </div> <!-- .wrapper -->
        </div> <!-- .user -->
      </div> <!-- .header-background -->
    </header> <!-- header -->

    <!-- *********************  Page body (unsplit)  ********************* -->
    <div class="wrapper body-background clearfix">
      <%= form_tag(new_book_path, method: 'get', class: 'centered') do %>
        <div class="form-group">
          <%= text_field_tag 'search' %>
          <%= submit_tag 'Search for books' %>
        </div>
      <% end %>
      <%= yield %>
    </div>

    <!-- ********************************************  Footer  ******************************************** -->
    <footer>
      <small>&copy; 2019 <strong>BookShelf</strong></small>
    </footer>
  </body>
</html>
